<nav class="navbar navbar-expand-lg navbar-light my-navbar-background">
  <a class="navbar-brand" href="#"><img class="hImg" src="assets/img/logo_cps.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Produtos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/produtos">Listar Produtos</a>
          <a class="dropdown-item" routerLink="/produtos/cadastrar">Adicionar Produto</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="nDClientes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Clientes
        </a>
        <div class="dropdown-menu" aria-labelledby="nDClientes">
          <a class="dropdown-item" routerLink="/clientes">Listar Clientes</a>
          <a class="dropdown-item" routerLink="/clientes/cadastrar">Adicionar Cliente</a>
        </div>
      </li>
    </ul>

    <div>
      <app-usuario></app-usuario>
    </div>

  </div>
</nav>
