<div class="container">
  <h1>
    Adicionar Cliente
  </h1>
  <hr>
  <form>

    <div class="form-group row">
      <label for="nome" class="col-sm-2 col-form-label">Nome do Cliente</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="txtNome" [(ngModel)]="cliente.nome" placeholder="Digite o nome do curso" >
      </div>
    </div>

    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">E-mail</label>
      <div class="col-sm-3">
        <input type="email" class="form-control" name="txtEmail" [(ngModel)]="cliente.email">
      </div>
    </div>

    <hr>

    <button class="btn btn-primary col-sm-6 btn-block" (click)="salvarCliente()">Salvar</button>
  </form>

  <hr>

  <div class="card border-primary shadow-lg">
    <div class="card-body">
      <h2>Conferir Dados:</h2>
      <p>Nome do Curso: {{cliente.nome}}</p>
      <p>Data de Início: {{cliente.email}}</p>
    </div>

  </div>
</div>


