<div class="container">
  <h1>
    Lista de Produtos
    <a routerLink="/produtos/cadastrar" class="btn btn-primary float-right">Novo Produto</a>
  </h1>

  <table class="table table-striped hoverable">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Produto</th>
        <th scope="col">Início</th>
        <th scope="col">Valor</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produto of listaProdutos">
        <td>{{produto.id}}</td>
        <td>{{produto.nome}}</td>
        <td>{{produto.inicio | date:"shortDate"}}</td>
        <td>{{produto.preco | currency:"BRL"}}</td>
        <td>
          <button class="btn btn-warning" routerLink = "/produtos/atualizar/{{produto.id}}">

            <i class="fa fa-edit" aria-hidden="true"></i>
          </button>
          <button class="btn btn-danger" [swal]="{
            title:'Atenção',
            text:'Deseja excluir: ' + produto.nome + '?',
            showDenyButton: true,
            denyButtonText:'Não',
            confirmButtonText:'Sim, Excluir',
            icon:'warning'
          }"
          (confirm)="deletar(produto)"
          >
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row">

  </div>
</div>
